# Ignore directories
temp/
.cursor/
.qodo/
__pycache__/

# Ignore environment files
.env

# Ignore log files
*.log

# Ignore init files
__init__.py

# Ignore database files
*.sqlite3

# Ignore compiled files
*.pyc
*.pyo
*.pyd

# Ignore settings files
settings.py
local_settings.py

#Ignore other files 
*.swp
*.swo
project_structure.txt
scannedpdf/
bookpdf/

